@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

h1 {
  font-family: "Parisienne", cursive;
  font-size: 5rem;
}

.navbar-brand {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
}

a,
a:hover,
a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

textarea {
  width: 300px;
  height: 150px;
}

.book-carousel img {
  width: auto;
  height: 40rem;
  max-height: 40rem;
}

/* INDEX PAGE */

.card {
  min-width: 18rem;
  min-height: 30rem;
  margin: 1rem;
}

.card-container {
  border: 0.5rem solid gold;
  margin: auto;
}

.card img {
  width: auto;
  height: 18rem;
  width: 18rem;
}

.new-scrapbook:hover {
  color: red;
}

.new-title {
  font-family: "Parisienne", cursive;
}

.new-title,
.new-icon {
  font-size: 3rem;
  color: gold;
  margin: 3rem auto;
}

/* ENTRY SHOW PAGE */

.jumbotron img {
  width: auto;
  height: 30rem;
  max-height: 30rem;
}
