<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container text-center">
      <h1>Memories</h1>
      <h4 class="text-muted">Digital Scrapbook</h4>
      <blockquote class="blockquote">
        Welcome to Memories! This application is a digital scrapbook for users
        to have a place to digitally store memories. Memories can include
        images, descriptions, and journal entries. The user has the ability to
        create new books, view their created books, add/edit their books, and
        remove unwanted entries or entire books.
      </blockquote>

      <a href="/scrapbook/home" class="btn btn-outline-primary"
        >Continue to Website</a
      >
    </div>
  </body>
</html>
